<div class="container">
  <app-header></app-header>
  <main>
    <div class="tabs">
      <div class="option" [ngClass]="{'active': currentTab === 'home'? true:  false}" (click)="toggleTab('home')">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.49824 12.4956V8.74564H8.49824V12.4956C8.49824 12.9081 8.83574 13.2456 9.24824 13.2456H11.4982C11.9107 13.2456 12.2482 12.9081 12.2482 12.4956V7.24564H13.5232C13.8682 7.24564 14.0332 6.81814 13.7707 6.59314L7.50074 0.945645C7.21574 0.690645 6.78074 0.690645 6.49574 0.945645L0.225743 6.59314C-0.0292575 6.81814 0.128242 7.24564 0.473242 7.24564H1.74824V12.4956C1.74824 12.9081 2.08574 13.2456 2.49824 13.2456H4.74824C5.16074 13.2456 5.49824 12.9081 5.49824 12.4956Z" fill="black" fill-opacity="0.8"/>
          </svg>
        <span>Home</span>
      </div>
      <div class="option" [ngClass]="{'active': currentTab === 'graphics'? true:  false}" (click)="toggleTab('graphics')">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.49824 12.4956V8.74564H8.49824V12.4956C8.49824 12.9081 8.83574 13.2456 9.24824 13.2456H11.4982C11.9107 13.2456 12.2482 12.9081 12.2482 12.4956V7.24564H13.5232C13.8682 7.24564 14.0332 6.81814 13.7707 6.59314L7.50074 0.945645C7.21574 0.690645 6.78074 0.690645 6.49574 0.945645L0.225743 6.59314C-0.0292575 6.81814 0.128242 7.24564 0.473242 7.24564H1.74824V12.4956C1.74824 12.9081 2.08574 13.2456 2.49824 13.2456H4.74824C5.16074 13.2456 5.49824 12.9081 5.49824 12.4956Z" fill="black" fill-opacity="0.8"/>
          </svg>
        <span>Gráficos</span>
      </div>
    </div>
    <section class="box-table"  *ngIf="currentTab === 'home'">
      <div class="box-options">
        <div class="box-infos">
          <div class="names">
            <h1>Simulador</h1>
            <span class="client-name">{{fileName}}</span>
          </div>
          <!-- <span class="file-name">{{fileName}}</span> -->
        </div>

        <div class="buttons">
          <div class="box-button-upload">
            <button (click)="fileInputReforma.click()" class="button-icon button-upload">
              <img src="images/upload.svg" alt="">
              <span>Arquivo de regras</span>
            </button>
            <input type="file" #fileInputReforma (change)="uploadFileRules($event)" style="display: none" accept=".csv"/>
          </div>

          <div class="box-button-upload">
            <button (click)="fileInput.click()" class="button-icon button-upload">
              <img src="images/upload.svg" alt="">
              <span>Arquivo</span>
            </button>
            <input type="file" #fileInput (change)="uploadFileReport($event)" style="display: none" accept=".csv"/>
          </div>
        </div>
      </div>

      <div class="box-filters">
        <div class="container-inputs">
          <form [formGroup]="aliquotaForm">
            <div class="box-input">
              <label for="">Alíquota </label>
              <input type="text" placeholder="Alíquota" formControlName="ALIQUOTA" mask="percent" suffix="%" decimalMarker="," >
            </div>
            <div class="box-input">
              <label for="">Proporção IBS</label>
              <input type="text" placeholder="Proporção IBS" formControlName="IBS" mask="percent" suffix="%" decimalMarker="," >
            </div>
            <div class="box-input">
              <label for="">Proporção CBS</label>
              <input type="text" placeholder="Proporção CBS" formControlName="CBS" mask="percent" suffix="%" decimalMarker="," >
            </div>
            <div class="box-input">
              <label for="">Proporção IS</label>
              <input type="text" placeholder="Proporção CBS" formControlName="IS" mask="percent" suffix="%" decimalMarker="," >
            </div>
          </form>
        </div>
         <button (click)="clearFilters()" class="clear-button">Limpar</button>
      </div>

      <div class="box-content">
        @if(dataReportReponse.classifications){
          @for (classification of dataReportReponse.classifications; track classification; let i = $index; ) {
            <div class="card" >
              <span>{{classification}}</span>
              <button class="dropdown-toggle" (click)="toggleDropdown(i, classification)" #arrowDropdown>
                <img
                  src="images/arrow-down.svg"
                  alt="Toggle"
                >
              </button>
            </div>
            <div class="content" [style.display]="isDropdownOpen(i, classification)? '' : 'none'" class="dropdown-row">
              <table class="table">
                <thead>
                  <tr>
                    @for (column of columnsToDisplay; track column) {
                      <th>
                        <span class="cell-with-sort">
                          {{column | headerTable}}
                          <button class="button-sort" (click)="sortByColumn(column)">
                            <img src="images/sort.svg" alt="">
                          </button>
                        </span>
                      </th>
                    }
                  </tr>
                </thead>

                <tbody>
                  @for (el of dataReport[classification].ncms; track el; let i = $index; ) {
                    <tr [ngClass]="{ 'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0 }">
                      <td>
                        <span class="input-element" [ngClass]="el.OPERATION === 'ENTRADA' ? 'input': 'output'">{{el.OPERATION }} </span>
                      </td>
                      <td>{{el.NCM}}</td>
                      <td>{{el.CLASSIFICATION}}</td>
                      <td>{{el.DESCRIPTION}}</td>
                      <td [ngClass]="{'negative-cash-flow' : el.OPERATION !== 'ENTRADA'}">{{calcTax(IBS, el.VALUE, el.reductions['reduction_ibs']) | currency: 'BRL'}}</td>
                      <td [ngClass]="{'negative-cash-flow' : el.OPERATION !== 'ENTRADA'}">{{calcTax(CBS, el.VALUE, el.reductions['reduction_cbs']) | currency: 'BRL'}}</td>
                      <td [ngClass]="{'negative-cash-flow' : el.OPERATION !== 'ENTRADA'}">{{calcTax(IS, el.VALUE, el.reductions['reduction_is']) | currency: 'BRL'}}</td>
                      <td [ngClass]="{'negative-cash-flow' : el.OPERATION !== 'ENTRADA'}">{{ el.VALUE | currency: 'BRL' }}</td>
                    </tr>
                  }
                </tbody>
              </table>
              <div class="pagination">
                <button (click)="changePage(classification, dataReport[classification].currentPage - 1, dataReport[classification].limit)" [disabled]="dataReport[classification].currentPage === 1">Anterior</button>
                <span>Página {{ dataReport[classification].currentPage }} de {{ dataReport[classification].limit }}</span>
                <button (click)="changePage(classification, dataReport[classification].currentPage + 1, dataReport[classification].limit)" [disabled]="dataReport[classification].currentPage === dataReport[classification].limit">Próxima</button>
              </div>
            </div>
          }
        }
      </div>
    </section>
    <section class="graphics" *ngIf="currentTab === 'graphics'">
      <p-chart type="bar" [data]="dataChart" [options]="options" height="100%"/>
    </section>
  </main>
</div>
