<div class="container">
  <app-header></app-header>
  <div class="box-button-upload">
    <button (click)="fileInput.click()">
      <img src="images/upload.svg" alt="">
      <span>Carregar arquivo</span>
    </button>
    <input type="file" #fileInput (change)="onFileChange($event)" style="display: none" />
  </div>
  <main>
    <div class="tabs">
      <div class="option" [ngClass]="{'active': currentTab === 'home'? true:  false}" (click)="toggleTab('home')">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.49824 12.4956V8.74564H8.49824V12.4956C8.49824 12.9081 8.83574 13.2456 9.24824 13.2456H11.4982C11.9107 13.2456 12.2482 12.9081 12.2482 12.4956V7.24564H13.5232C13.8682 7.24564 14.0332 6.81814 13.7707 6.59314L7.50074 0.945645C7.21574 0.690645 6.78074 0.690645 6.49574 0.945645L0.225743 6.59314C-0.0292575 6.81814 0.128242 7.24564 0.473242 7.24564H1.74824V12.4956C1.74824 12.9081 2.08574 13.2456 2.49824 13.2456H4.74824C5.16074 13.2456 5.49824 12.9081 5.49824 12.4956Z" fill="black" fill-opacity="0.8"/>
          </svg>
        <span>Home</span>
      </div>
      <div class="option" [ngClass]="{'active': currentTab === 'graphics'? true:  false}" (click)="toggleTab('graphics')">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.49824 12.4956V8.74564H8.49824V12.4956C8.49824 12.9081 8.83574 13.2456 9.24824 13.2456H11.4982C11.9107 13.2456 12.2482 12.9081 12.2482 12.4956V7.24564H13.5232C13.8682 7.24564 14.0332 6.81814 13.7707 6.59314L7.50074 0.945645C7.21574 0.690645 6.78074 0.690645 6.49574 0.945645L0.225743 6.59314C-0.0292575 6.81814 0.128242 7.24564 0.473242 7.24564H1.74824V12.4956C1.74824 12.9081 2.08574 13.2456 2.49824 13.2456H4.74824C5.16074 13.2456 5.49824 12.9081 5.49824 12.4956Z" fill="black" fill-opacity="0.8"/>
          </svg>
        <span>Gráficos</span>
      </div>
      <div class="option" [ngClass]="{'active': currentTab === 'calculadora'? true:  false}" (click)="toggleTab('calculadora')">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.49824 12.4956V8.74564H8.49824V12.4956C8.49824 12.9081 8.83574 13.2456 9.24824 13.2456H11.4982C11.9107 13.2456 12.2482 12.9081 12.2482 12.4956V7.24564H13.5232C13.8682 7.24564 14.0332 6.81814 13.7707 6.59314L7.50074 0.945645C7.21574 0.690645 6.78074 0.690645 6.49574 0.945645L0.225743 6.59314C-0.0292575 6.81814 0.128242 7.24564 0.473242 7.24564H1.74824V12.4956C1.74824 12.9081 2.08574 13.2456 2.49824 13.2456H4.74824C5.16074 13.2456 5.49824 12.9081 5.49824 12.4956Z" fill="black" fill-opacity="0.8"/>
          </svg>
        <span>Calculadora</span>
      </div>
    </div>
    <section class="box-table"  *ngIf="currentTab === 'home'">
      <div class="box-filters">
        <div class="container-inputs">
          <div class="box-input">
            <input
              type="text"
              placeholder="Pesquisar por TIPI"
              (focus)="onFocusInput('tipiInput')"
              (blur)="onBlurInput('tipiInput')"
              (input)="onInputChange(inputRefTipi.value)"
              #inputRefTipi
            >
            <div class="box-list" *ngIf="showBoxListTipi">
              <ng-container *ngFor="let item of listTipi">
                <div class="item" (click)="selectTipi(item)">
                  <span>{{item.tipi}}</span>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="box-input">
            <input
              type="text"
              placeholder="Pesquisar por classificação"
              (focus)="onFocusInput('classificationInput')"
              (blur)="onBlurInput('classificationInput')"
              (input)="onInputChange(inputRefClassification.value)"
              #inputRefClassification
            >
            <div class="box-list" *ngIf="showBoxListClassification">
              <ng-container *ngFor="let item of listClassifications">
                <div class="item" (click)="selectClassification(item)">
                  <span>{{item}}</span>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="box-input">
            <input
              type="text"
              placeholder="Pesquisar por descrição"
              (focus)="onFocusInput('descriptionInput')"
              (blur)="onBlurInput('descriptionInput')"
              (input)="onInputChangeDescription(inputRefDescription.value)"
              #inputRefDescription
            >
            <div class="box-list" *ngIf="showBoxListDescription">
              <ng-container *ngFor="let item of listDescriptions">
                <div class="item" (click)="selectDescription(item)">
                  <span>{{item.description}}</span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <button (click)="clearFilters()" class="clear-button">Limpar</button>
      </div>
      <table mat-table
            [dataSource]="dataSource" multiTemplateDataRows
            class="mat-elevation-z8 full"
            [style.width]="'500px'">

        @for (column of columnsToDisplay; track column) {
          <ng-container matColumnDef="{{column}}">
            <th mat-header-cell *matHeaderCellDef>
              <span class="cell-with-sort">
                {{column | headerTable}}
                <button class="button-sort" (click)="sortByColumn(column)">
                  <img src="images/sort.svg" alt="">
                </button>
              </span>
            </th>

            <th mat-header-cell *matHeaderCellDef> {{column | headerTable}} </th>
            <ng-container *ngIf="column === 'icms' || column === 'pis' || column === 'cofins' || column === 'ipi'; else otherCell">
              <td mat-cell *matCellDef="let element" (click)="selecItem(element)">
                {{element[column] | percentNumberTable}}
              </td>
            </ng-container>

            <ng-template #otherCell>
              <ng-container *ngIf="column !== 'input'; else inputCell">
                <td mat-cell *matCellDef="let element" (click)="selecItem(element)"> {{element[column] }} </td>
              </ng-container>

              <ng-template #inputCell>
                <td mat-cell *matCellDef="let element" (click)="selecItem(element)">
                  <span class="input-element" [ngClass]="element[column] === 'Entradas' ? 'input': 'output'">{{element[column] }} </span>
                </td>
              </ng-template>


            </ng-template>
          </ng-container>
        }
        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
              @if (expandedElement === element) {
                <mat-icon>keyboard_arrow_up</mat-icon>
              } @else {
                <mat-icon>keyboard_arrow_down</mat-icon>
              }
            </button>
          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="box-new-taxs">
                <ng-container *ngIf="element.tax_reform as tax_reform">
                  <div class="item">
                    <h4>IBS</h4>
                    <span>{{tax_reform.ibs | percent }}</span>
                  </div>
                  <div class="item">
                    <h4>Redução % IBS</h4>
                    <span>{{tax_reform.ibs_percentage_reeducation | percent}}</span>
                  </div>
                  <div class="item">
                    <h4>CBS</h4>
                    <span>{{tax_reform.cbs | percent}}</span>
                  </div>
                  <div class="item">
                    <h4>Redução % CBS</h4>
                    <span>{{tax_reform.cbs_percentage_reeducation | percent }}</span>
                  </div>
                  <div class="item">
                    <h4>IS</h4>
                    <span>{{tax_reform.is | percent}}</span>
                  </div>
                </ng-container>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>

    </section>
    <section class="graphics" *ngIf="currentTab === 'graphics'">
      <p-chart type="bar" [data]="dataChart" [options]="options" height="100%"/>
    </section>
  </main>
</div>
